In [33]:
import requests
import json
import time
import re
import datetime
import yaml
import pandas as pd

In [2]:
with open ('config.yml') as ymlfile:
    cfg = yaml.safe_load(ymlfile)
    oanda_api_key = cfg['creds']['oanda_api']

In [3]:
provider_authorization = 'Bearer {0}'.format(oanda_api_key)

In [4]:
headers = {
    'Content-Type': 'application/json',
    'Authorization': provider_authorization,
}

### Daily Candlesticks

In [5]:
params_D = (
    ('price', 'BA'),
    ('from', '2016-10-17T15:00:00.000000000Z'),
    ('granularity', 'D'),
)

### H4 Candlesticks

In [43]:
params_4H = (
    ('price', 'BA'),
    ('count', '5000'),
    ('granularity', 'H4'),
)

### Get the Candlestick Data

In [44]:
response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles', 
                        headers=headers, 
                        params=params_4H).json()

response.keys()

response['candles'][0]

### Save as CSV

In [45]:
output = []
all_candlesticks = response['candles']

for i in range (len(all_candlesticks)):
    output.append([response['candles'][i]['time'], 
                  response['candles'][i]['volume'], 
                  response['candles'][i]['bid']['o'],
                  response['candles'][i]['bid']['h'],
                  response['candles'][i]['bid']['l'],
                  response['candles'][i]['bid']['c']])

output = pd.DataFrame(output)
output.columns = ['Time', 'Volume', 'Open', 'High', 'Low', 'Close']

In [46]:
eurusd_data = output.to_csv('EURUSD_4H.csv', header = True, index = False)

In [48]:
eurusd_data = pd.read_csv('EURUSD_4H.csv')

In [49]:
eurusd_data.shape

(5000, 6)

In [50]:
eurusd_data

,Time,Volume,Open,High,Low,Close
0,2018-06-04T17:00:00.000000000Z,4014,1.16852,1.17016,1.16848,1.16956
1,2018-06-04T21:00:00.000000000Z,4032,1.16939,1.17029,1.16901,1.16930
2,2018-06-05T01:00:00.000000000Z,3802,1.16928,1.16968,1.16853,1.16865
3,2018-06-05T05:00:00.000000000Z,12695,1.16862,1.17162,1.16825,1.17039
4,2018-06-05T09:00:00.000000000Z,13544,1.17034,1.17058,1.16615,1.16657
...,...,...,...,...,...,...
4995,2021-08-20T01:00:00.000000000Z,5024,1.16814,1.16869,1.16751,1.16853
4996,2021-08-20T05:00:00.000000000Z,15320,1.16851,1.16886,1.16701,1.16734
4997,2021-08-20T09:00:00.000000000Z,13877,1.16733,1.16828,1.16643,1.16678
4998,2021-08-20T13:00:00.000000000Z,23033,1.16676,1.17039,1.16634,1.17026
4999,2021-08-20T17:00:00.000000000Z,6450,1.17024,1.17039,1.16915,1.16981