## Get Candlestick Data

In [1]:
import requests
import calendar
import dateutil.parser as parser
from dateutil.relativedelta import relativedelta
from datetime import datetime, timezone
import yaml
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [2]:
now = datetime.now()

In [3]:
def convert_date(utc_time): 
    parsed_date = parser.parse(utc_time)
    var_date=parsed_date.date()
    var_time=parsed_date.time()
    var_f_time=var_time.hour
    var_julian_date=parsed_date.timetuple().tm_yday
    var_weekday=parsed_date.weekday()
    var_weekday_name=calendar.day_name[parsed_date.weekday()]
    return var_date, var_time, var_f_time, var_julian_date, var_weekday, var_weekday_name

In [4]:
def find_candle_trend (candle_no):
    if candle_no < 10:
        return 0
    
    data = pd.read_csv(filename)
    data = data.iloc[candle_no-5:candle_no+1]
#    display (data[['Open','Close','Low','High']])
    data['candleno'] = range (1, len(data) + 1)
    X = data['candleno'].values.reshape(-1, 1)
    Y = data['Close'].values.reshape(-1, 1)
    linear_regressor = LinearRegression()
    linear_regressor.fit(X, Y)
    y_pred = linear_regressor.predict(X) 
    
    Current_Market_Fit = int(r2_score(Y, y_pred)*100)
#    print(Current_Market_Fit)
    coeficient = (linear_regressor.coef_)
    
    if coeficient > 0:
        Current_Market = 1 *  Current_Market_Fit## Bullish / Buy ##
    else:
        Current_Market = -1 * Current_Market_Fit ## Bearish / Sell ##
    
    return Current_Market

In [5]:
with open ('back_test_pipeline_settings.yaml') as ymlfile:
    cfg = yaml.safe_load(ymlfile)
    instrument = cfg['currency']['instrument']

In [6]:
print('Instrument:', instrument)

Instrument: EUR_USD

### The Configs for Run:

In [7]:
with open ('config.yml') as ymlfile:
    cfg = yaml.safe_load(ymlfile)
    oanda_api_key = cfg['creds']['oanda_api']
    account_number = cfg['creds']['account_number']

### Select the Currency Pair

In [8]:
Load_10K_Records=True
Load_20K_Records=False

#  'EUR_USD','USD_CAD','EUR_GBP','EUR_AUD','EUR_CHF',
#  'GBP_USD','GBP_CHF','GBP_NZD','GBP_AUD','GBP_CAD',
#  'AUD_CAD','AUD_CHF','AUD_NZD','NZD_USD','EUR_CAD',
#  'USD_CHF','CAD_CHF','NZD_CAD','AUD_USD','EUR_NZD',
#  'NZD_CHF',

currency_pairs = [instrument]


timeframe = "H4"
#D #H1 #H4 M30
# https://developer.oanda.com/rest-live-v20/instrument-df/#CandlestickGranularity
price_char = "M"
#M(midpoint candles) #B(bid candles) #A(ask candles) #BA
price_com = "mid"
#mid #bid #ask

# def of OANDA request variable
provider_api_url = 'https://api-fxpractice.oanda.com/v3/accounts/{}/orders'.format(account_number)
request_headers = {
    "Authorization": oanda_api_key,
    "Accept-Datetime-Format": "RFC3339",
    "Connection": "Keep-Alive",
    "Content-Type": "application/json;charset=UTF-8"
}

In [9]:
provider_authorization = 'Bearer {0}'.format(oanda_api_key)

headers = {
    'Content-Type': 'application/json',
    'Authorization': provider_authorization,
}

# Get Candlesticks Data

In [10]:
params_count = (
    ('price', price_char),
    ('count', '5000'),
    ('granularity', timeframe),
)

In [11]:
for pair in currency_pairs:
    first_response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/{}/candles'.format(pair), 
                            headers=headers,
                            params=params_count).json()

In [12]:
if Load_10K_Records:
    
    #### Load 10K data
        
    datetime_object = parser.parse(first_response['candles'][0]['time'])
    date= datetime_object - relativedelta(years=3)  
    from_date = date.replace(tzinfo=timezone.utc).timestamp()
    params_date = (
        ('count', '5000'),
        ('price', price_char),
        ('from', from_date),
        ('granularity', timeframe),)

    second_response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/{}/candles'.format(pair),
                                   headers=headers,
                                   params=params_date).json()
    datetime_object_15K = parser.parse(second_response['candles'][0]['time'])
    first_response= first_response['candles']  
    second_response= second_response['candles']
    second_response.extend(first_response)
    
    if Load_20K_Records:

        #### Load 15K data

        date= datetime_object_15K - relativedelta(years=3)  
        from_date = date.replace(tzinfo=timezone.utc).timestamp()
        params_date = (
            ('count', '5000'),
            ('price', price_char),
            ('from', from_date),
            ('granularity', timeframe),)

        third_response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/{}/candles'.format(pair),
                                       headers=headers,
                                       params=params_date).json()
        datetime_object_20K = parser.parse(third_response['candles'][0]['time'])
        third_response= third_response['candles']
        third_response.extend(second_response)

        #### Load 20K data

        date= datetime_object_20K - relativedelta(years=3)  
        from_date = date.replace(tzinfo=timezone.utc).timestamp()
        params_date = (
            ('count', '5000'),
            ('price', price_char),
            ('from', from_date),
            ('granularity', timeframe),)

        fourth_response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/{}/candles'.format(pair),
                                       headers=headers,
                                       params=params_date).json()
        datetime_object_20K = parser.parse(fourth_response['candles'][0]['time'])
        fourth_response= fourth_response['candles']
        fourth_response.extend(third_response)

        response=fourth_response
    else:
        response=second_response 
else:
    response=first_response['candles']

In [13]:
filename = "{}_{}.csv".format(pair, timeframe)
output = []
all_candlesticks = response

for i in range (len(all_candlesticks)):
    result= (convert_date(response[i]['time']))
    output.append([(result[0]),(result[1]),(result[2]),(result[3]),(result[4]),(result[5]),
                    response[i]['time'],
                    response[i]['volume'], 
                    response[i][price_com]['o'],
                    response[i][price_com]['h'],
                    response[i][price_com]['l'],
                    response[i][price_com]['c']])
    
output = pd.DataFrame(output)
output.columns = ['Date','Time','f_time','julian_date','Weekday','Weekday_Name','UTC_Time', 'Volume', 'Open', 'High', 'Low', 'Close']
data = output.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)

In [14]:
data = data.drop_duplicates()
data = data.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)

In [15]:
data.shape

(9658, 12)

In [16]:
data.head(5)

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,Low,Close
0,2015-12-02,22:00:00,22,336,2,Wednesday,2015-12-02T22:00:00.000000000Z,1638,1.06160,1.06182,1.06015,1.06022
1,2015-12-03,02:00:00,2,337,3,Thursday,2015-12-03T02:00:00.000000000Z,1656,1.06019,1.06024,1.05876,1.05876
2,2015-12-03,06:00:00,6,337,3,Thursday,2015-12-03T06:00:00.000000000Z,5040,1.05878,1.05948,1.05528,1.05613
3,2015-12-03,10:00:00,10,337,3,Thursday,2015-12-03T10:00:00.000000000Z,37142,1.05612,1.08934,1.05237,1.08241
4,2015-12-03,14:00:00,14,337,3,Thursday,2015-12-03T14:00:00.000000000Z,26330,1.08240,1.09424,1.07892,1.09018

In [17]:
data.tail(5)

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,Low,Close
9653,2022-02-17,06:00:00,6,48,3,Thursday,2022-02-17T06:00:00.000000000Z,48292,1.13566,1.13863,1.13428,1.13614
9654,2022-02-17,10:00:00,10,48,3,Thursday,2022-02-17T10:00:00.000000000Z,33519,1.13614,1.13795,1.13517,1.13595
9655,2022-02-17,14:00:00,14,48,3,Thursday,2022-02-17T14:00:00.000000000Z,49834,1.13594,1.13796,1.13507,1.13594
9656,2022-02-17,18:00:00,18,48,3,Thursday,2022-02-17T18:00:00.000000000Z,13845,1.13593,1.13672,1.13569,1.13622
9657,2022-02-17,22:00:00,22,48,3,Thursday,2022-02-17T22:00:00.000000000Z,6345,1.13625,1.13698,1.13577,1.13592

## Simple Moving Average (SMA)

In [18]:
data['SMA_5'] = data['Close'].rolling(window=5).mean().round(4)
data['SMA_10'] = data['Close'].rolling(window=10).mean().round(4)
data['SMA_20'] = data['Close'].rolling(window=20).mean().round(4)

## Simple Moving Average Range

In [19]:
data['F_SMA_5'] = data['Close'] - data['SMA_5']
data['F_SMA_10'] = data['Close'] - data['SMA_10']
data['F_SMA_20'] = data['Close'] - data['SMA_20']

In [20]:
data = data.drop_duplicates()
data = data.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)

In [21]:
data.tail()

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,Low,Close,SMA_5,SMA_10,SMA_20,F_SMA_5,F_SMA_10,F_SMA_20
9653,2022-02-17,06:00:00,6,48,3,Thursday,2022-02-17T06:00:00.000000000Z,48292,1.13566,1.13863,1.13428,1.13614,1.1369,1.1365,1.1347,-0.00076,-0.00036,0.00144
9654,2022-02-17,10:00:00,10,48,3,Thursday,2022-02-17T10:00:00.000000000Z,33519,1.13614,1.13795,1.13517,1.13595,1.1367,1.1365,1.1347,-0.00075,-0.00055,0.00125
9655,2022-02-17,14:00:00,14,48,3,Thursday,2022-02-17T14:00:00.000000000Z,49834,1.13594,1.13796,1.13507,1.13594,1.1364,1.1366,1.1350,-0.00046,-0.00066,0.00094
9656,2022-02-17,18:00:00,18,48,3,Thursday,2022-02-17T18:00:00.000000000Z,13845,1.13593,1.13672,1.13569,1.13622,1.1360,1.1367,1.1352,0.00022,-0.00048,0.00102
9657,2022-02-17,22:00:00,22,48,3,Thursday,2022-02-17T22:00:00.000000000Z,6345,1.13625,1.13698,1.13577,1.13592,1.1360,1.1365,1.1354,-0.00008,-0.00058,0.00052

## Price Range

In [22]:
data['O-H'] = data['Open'] - data['High']
data['O-L'] = data['Open'] - data['Low']
data['O-C'] = data['Open'] - data['Close']
data['H-L'] = data['High'] - data['Low']
data['H-C'] = data['High'] - data['Close']
data['L-C'] = data['Low'] - data['Close']

data['Direction'] = data['O-C'].apply(lambda x: 1 if x<0 else 0)

data['col_1'] = data['Open'] - data['Close']

for value in data['col_1']:   
    if value > 0:
        data['col_2'] = data['High'] - data['Open']
        data['col_3'] = data['Close'] - data['Low']
    else:
        data['col_2'] = data['High'] - data['Close']
        data['col_3'] = data['Open'] - data['Low']

#Two Previous Candlesticks 
data['col_4'] = data['col_1'].shift(1)
data['col_5'] = data['col_1'].shift(2)

In [23]:
data = data.dropna()
data = data.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)

In [24]:
data['Trend'] = 0

In [25]:
data.head()

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,...,H-L,H-C,L-C,Direction,col_1,col_2,col_3,col_4,col_5,Trend
0,2015-12-08,02:00:00,2,342,1,Tuesday,2015-12-08T02:00:00.000000000Z,1568,1.08468,1.08606,...,0.00173,0.00000,-0.00173,1,-0.00138,0.00138,0.00173,-0.00102,0.00142,0
1,2015-12-08,06:00:00,6,342,1,Tuesday,2015-12-08T06:00:00.000000000Z,6176,1.08604,1.08822,...,0.00290,0.00286,-0.00004,0,0.00068,0.00218,0.00004,-0.00138,-0.00102,0
2,2015-12-08,10:00:00,10,342,1,Tuesday,2015-12-08T10:00:00.000000000Z,7343,1.08538,1.08966,...,0.00557,0.00023,-0.00534,1,-0.00405,0.00428,0.00534,0.00068,-0.00138,0
3,2015-12-08,14:00:00,14,342,1,Tuesday,2015-12-08T14:00:00.000000000Z,8204,1.08946,1.09005,...,0.00348,0.00111,-0.00237,0,0.00052,0.00059,0.00237,-0.00405,0.00068,0
4,2015-12-08,18:00:00,18,342,1,Tuesday,2015-12-08T18:00:00.000000000Z,3669,1.08898,1.09025,...,0.00177,0.00104,-0.00073,1,-0.00023,0.00127,0.00073,0.00052,-0.00405,0

In [26]:
vols = data.index.tolist()
len (vols)

9639

In [27]:
%%time
for candle_no in vols:
#    print (candle_no)
    data.at[candle_no, "Trend"] = find_candle_trend(candle_no)

CPU times: user 5min 43s, sys: 1min 7s, total: 6min 50s
Wall time: 6min 50s

In [33]:
data.tail()

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,...,H-L,H-C,L-C,Direction,col_1,col_2,col_3,col_4,col_5,Trend
9634,2022-02-17,06:00:00,6,48,3,Thursday,2022-02-17T06:00:00.000000000Z,48292,1.13566,1.13863,...,0.00435,0.00249,-0.00186,1,-0.00048,0.00297,0.00186,0.00254,-0.00082,-8
9635,2022-02-17,10:00:00,10,48,3,Thursday,2022-02-17T10:00:00.000000000Z,33519,1.13614,1.13795,...,0.00278,0.00200,-0.00078,0,0.00019,0.00181,0.00078,-0.00048,0.00254,-51
9636,2022-02-17,14:00:00,14,48,3,Thursday,2022-02-17T14:00:00.000000000Z,49834,1.13594,1.13796,...,0.00289,0.00202,-0.00087,0,0.00000,0.00202,0.00087,0.00019,-0.00048,-50
9637,2022-02-17,18:00:00,18,48,3,Thursday,2022-02-17T18:00:00.000000000Z,13845,1.13593,1.13672,...,0.00103,0.00050,-0.00053,1,-0.00029,0.00079,0.00053,0.00000,0.00019,-27
9638,2022-02-17,22:00:00,22,48,3,Thursday,2022-02-17T22:00:00.000000000Z,6345,1.13625,1.13698,...,0.00121,0.00106,-0.00015,0,0.00033,0.00073,0.00015,-0.00029,0.00000,18

In [31]:
data = data.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)