## Get Candlestick Data

In [1]:
import requests
import calendar
import dateutil.parser as parser
from dateutil.relativedelta import relativedelta
from datetime import datetime, timezone
import yaml
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [2]:
now = datetime.now()

In [3]:
def convert_date(utc_time): 
    parsed_date = parser.parse(utc_time)
    var_date=parsed_date.date()
    var_time=parsed_date.time()
    var_f_time=var_time.hour
    var_julian_date=parsed_date.timetuple().tm_yday
    var_weekday=parsed_date.weekday()
    var_weekday_name=calendar.day_name[parsed_date.weekday()]
    return var_date, var_time, var_f_time, var_julian_date, var_weekday, var_weekday_name

In [4]:
def find_candle_trend (candle_no):
    if candle_no < 10:
        return 0
    
    data = pd.read_csv(filename)
    data = data.iloc[candle_no-5:candle_no+1]
#    display (data[['Open','Close','Low','High']])
    data['candleno'] = range (1, len(data) + 1)
    X = data['candleno'].values.reshape(-1, 1)
    Y = data['Close'].values.reshape(-1, 1)
    linear_regressor = LinearRegression()
    linear_regressor.fit(X, Y)
    y_pred = linear_regressor.predict(X) 
    
    Current_Market_Fit = int(r2_score(Y, y_pred)*100)
#    print(Current_Market_Fit)
    coeficient = (linear_regressor.coef_)
    
    if coeficient > 0:
        Current_Market = 1 *  Current_Market_Fit## Bullish / Buy ##
    else:
        Current_Market = -1 * Current_Market_Fit ## Bearish / Sell ##
    
    return Current_Market

In [5]:
with open ('back_test_pipeline_settings.yaml') as ymlfile:
    cfg = yaml.safe_load(ymlfile)
    instrument = cfg['currency']['instrument']

In [6]:
print('Instrument:', instrument)

Instrument: EUR_USD

### The Configs for Run:

In [7]:
with open ('config.yml') as ymlfile:
    cfg = yaml.safe_load(ymlfile)
    oanda_api_key = cfg['creds']['oanda_api']
    account_number = cfg['creds']['account_number']

### Select the Currency Pair

In [8]:
Load_10K_Records=True
Load_20K_Records=False

#  'EUR_USD','USD_CAD','EUR_GBP','EUR_AUD','EUR_CHF',
#  'GBP_USD','GBP_CHF','GBP_NZD','GBP_AUD','GBP_CAD',
#  'AUD_CAD','AUD_CHF','AUD_NZD','NZD_USD','EUR_CAD',
#  'USD_CHF','CAD_CHF','NZD_CAD','AUD_USD','EUR_NZD',
#  'NZD_CHF',

currency_pairs = [instrument]


timeframe = "H4"
#D #H1 #H4 M30
# https://developer.oanda.com/rest-live-v20/instrument-df/#CandlestickGranularity
price_char = "M"
#M(midpoint candles) #B(bid candles) #A(ask candles) #BA
price_com = "mid"
#mid #bid #ask

# def of OANDA request variable
provider_api_url = 'https://api-fxpractice.oanda.com/v3/accounts/{}/orders'.format(account_number)
request_headers = {
    "Authorization": oanda_api_key,
    "Accept-Datetime-Format": "RFC3339",
    "Connection": "Keep-Alive",
    "Content-Type": "application/json;charset=UTF-8"
}

In [9]:
provider_authorization = 'Bearer {0}'.format(oanda_api_key)

headers = {
    'Content-Type': 'application/json',
    'Authorization': provider_authorization,
}

# Get Candlesticks Data

In [10]:
params_count = (
    ('price', price_char),
    ('count', '5000'),
    ('granularity', timeframe),
)

In [11]:
for pair in currency_pairs:
    first_response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/{}/candles'.format(pair), 
                            headers=headers,
                            params=params_count).json()

In [12]:
if Load_10K_Records:
    
    #### Load 10K data
        
    datetime_object = parser.parse(first_response['candles'][0]['time'])
    date= datetime_object - relativedelta(years=3)  
    from_date = date.replace(tzinfo=timezone.utc).timestamp()
    params_date = (
        ('count', '5000'),
        ('price', price_char),
        ('from', from_date),
        ('granularity', timeframe),)

    second_response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/{}/candles'.format(pair),
                                   headers=headers,
                                   params=params_date).json()
    datetime_object_15K = parser.parse(second_response['candles'][0]['time'])
    first_response= first_response['candles']  
    second_response= second_response['candles']
    second_response.extend(first_response)
    
    if Load_20K_Records:

        #### Load 15K data

        date= datetime_object_15K - relativedelta(years=3)  
        from_date = date.replace(tzinfo=timezone.utc).timestamp()
        params_date = (
            ('count', '5000'),
            ('price', price_char),
            ('from', from_date),
            ('granularity', timeframe),)

        third_response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/{}/candles'.format(pair),
                                       headers=headers,
                                       params=params_date).json()
        datetime_object_20K = parser.parse(third_response['candles'][0]['time'])
        third_response= third_response['candles']
        third_response.extend(second_response)

        #### Load 20K data

        date= datetime_object_20K - relativedelta(years=3)  
        from_date = date.replace(tzinfo=timezone.utc).timestamp()
        params_date = (
            ('count', '5000'),
            ('price', price_char),
            ('from', from_date),
            ('granularity', timeframe),)

        fourth_response = requests.get('https://api-fxpractice.oanda.com/v3/instruments/{}/candles'.format(pair),
                                       headers=headers,
                                       params=params_date).json()
        datetime_object_20K = parser.parse(fourth_response['candles'][0]['time'])
        fourth_response= fourth_response['candles']
        fourth_response.extend(third_response)

        response=fourth_response
    else:
        response=second_response 
else:
    response=first_response['candles']

In [13]:
filename = "{}_{}.csv".format(pair, timeframe)
output = []
all_candlesticks = response

for i in range (len(all_candlesticks)):
    result= (convert_date(response[i]['time']))
    output.append([(result[0]),(result[1]),(result[2]),(result[3]),(result[4]),(result[5]),
                    response[i]['time'],
                    response[i]['volume'], 
                    response[i][price_com]['o'],
                    response[i][price_com]['h'],
                    response[i][price_com]['l'],
                    response[i][price_com]['c']])
    
output = pd.DataFrame(output)
output.columns = ['Date','Time','f_time','julian_date','Weekday','Weekday_Name','UTC_Time', 'Volume', 'Open', 'High', 'Low', 'Close']
data = output.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)

In [14]:
data = data.drop_duplicates()
data = data.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)

In [15]:
data.shape

(9670, 12)

In [16]:
data.head(5)

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,Low,Close
0,2015-11-30,18:00:00,18,334,0,Monday,2015-11-30T18:00:00.000000000Z,2459,1.05602,1.05760,1.05592,1.05644
1,2015-11-30,22:00:00,22,334,0,Monday,2015-11-30T22:00:00.000000000Z,1741,1.05666,1.05819,1.05634,1.05781
2,2015-12-01,02:00:00,2,335,1,Tuesday,2015-12-01T02:00:00.000000000Z,3487,1.05785,1.05968,1.05714,1.05818
3,2015-12-01,06:00:00,6,335,1,Tuesday,2015-12-01T06:00:00.000000000Z,5109,1.05819,1.06193,1.05778,1.05980
4,2015-12-01,10:00:00,10,335,1,Tuesday,2015-12-01T10:00:00.000000000Z,3789,1.05976,1.06116,1.05856,1.06062

In [17]:
data.tail(5)

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,Low,Close
9665,2022-02-17,02:00:00,2,48,3,Thursday,2022-02-17T02:00:00.000000000Z,35305,1.13818,1.13850,1.13232,1.13564
9666,2022-02-17,06:00:00,6,48,3,Thursday,2022-02-17T06:00:00.000000000Z,48292,1.13566,1.13863,1.13428,1.13614
9667,2022-02-17,10:00:00,10,48,3,Thursday,2022-02-17T10:00:00.000000000Z,33519,1.13614,1.13795,1.13517,1.13595
9668,2022-02-17,14:00:00,14,48,3,Thursday,2022-02-17T14:00:00.000000000Z,49834,1.13594,1.13796,1.13507,1.13594
9669,2022-02-17,18:00:00,18,48,3,Thursday,2022-02-17T18:00:00.000000000Z,5790,1.13593,1.13647,1.13571,1.13630

## Simple Moving Average (SMA)

In [18]:
data['SMA_5'] = data['Close'].rolling(window=5).mean().round(4)
data['SMA_10'] = data['Close'].rolling(window=10).mean().round(4)
data['SMA_20'] = data['Close'].rolling(window=20).mean().round(4)

## Simple Moving Average Range

In [19]:
data['F_SMA_5'] = data['Close'] - data['SMA_5']
data['F_SMA_10'] = data['Close'] - data['SMA_10']
data['F_SMA_20'] = data['Close'] - data['SMA_20']

In [20]:
data = data.drop_duplicates()
data = data.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)

In [21]:
data.tail()

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,Low,Close,SMA_5,SMA_10,SMA_20,F_SMA_5,F_SMA_10,F_SMA_20
9665,2022-02-17,02:00:00,2,48,3,Thursday,2022-02-17T02:00:00.000000000Z,35305,1.13818,1.13850,1.13232,1.13564,1.1370,1.1365,1.1347,-0.00136,-0.00086,0.00094
9666,2022-02-17,06:00:00,6,48,3,Thursday,2022-02-17T06:00:00.000000000Z,48292,1.13566,1.13863,1.13428,1.13614,1.1369,1.1365,1.1347,-0.00076,-0.00036,0.00144
9667,2022-02-17,10:00:00,10,48,3,Thursday,2022-02-17T10:00:00.000000000Z,33519,1.13614,1.13795,1.13517,1.13595,1.1367,1.1365,1.1347,-0.00075,-0.00055,0.00125
9668,2022-02-17,14:00:00,14,48,3,Thursday,2022-02-17T14:00:00.000000000Z,49834,1.13594,1.13796,1.13507,1.13594,1.1364,1.1366,1.1350,-0.00046,-0.00066,0.00094
9669,2022-02-17,18:00:00,18,48,3,Thursday,2022-02-17T18:00:00.000000000Z,5790,1.13593,1.13647,1.13571,1.13630,1.1360,1.1367,1.1352,0.00030,-0.00040,0.00110

## Price Range

In [22]:
data['O-H'] = data['Open'] - data['High']
data['O-L'] = data['Open'] - data['Low']
data['O-C'] = data['Open'] - data['Close']
data['H-L'] = data['High'] - data['Low']
data['H-C'] = data['High'] - data['Close']
data['L-C'] = data['Low'] - data['Close']

data['Direction'] = data['O-C'].apply(lambda x: 1 if x<0 else 0)

data['col_1'] = data['Open'] - data['Close']

for value in data['col_1']:   
    if value > 0:
        data['col_2'] = data['High'] - data['Open']
        data['col_3'] = data['Close'] - data['Low']
    else:
        data['col_2'] = data['High'] - data['Close']
        data['col_3'] = data['Open'] - data['Low']

#Two Previous Candlesticks 
data['col_4'] = data['col_1'].shift(1)
data['col_5'] = data['col_1'].shift(2)

In [23]:
data = data.dropna()
data = data.to_csv(filename, header = True, index = False)
data = pd.read_csv(filename)

In [24]:
data['Trend'] = 0

In [25]:
data.head()

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,...,H-L,H-C,L-C,Direction,col_1,col_2,col_3,col_4,col_5,Trend
0,2015-12-03,22:00:00,22,337,3,Thursday,2015-12-03T22:00:00.000000000Z,5587,1.09414,1.09566,...,0.00574,0.00466,-0.00108,0,0.00314,0.00466,0.00422,-0.00373,-0.00778,0
1,2015-12-04,02:00:00,2,338,4,Friday,2015-12-04T02:00:00.000000000Z,3762,1.09104,1.09464,...,0.00418,0.00074,-0.00344,1,-0.00286,0.00074,0.00058,0.00314,-0.00373,0
2,2015-12-04,06:00:00,6,338,4,Friday,2015-12-04T06:00:00.000000000Z,10055,1.09388,1.09452,...,0.00865,0.00553,-0.00312,0,0.00489,0.00553,0.00801,-0.00286,0.00314,0
3,2015-12-04,10:00:00,10,338,4,Friday,2015-12-04T10:00:00.000000000Z,14955,1.08901,1.09507,...,0.00952,0.00249,-0.00703,1,-0.00357,0.00249,0.00346,0.00489,-0.00286,0
4,2015-12-04,14:00:00,14,338,4,Friday,2015-12-04T14:00:00.000000000Z,18128,1.09256,1.09508,...,0.01145,0.00824,-0.00321,0,0.00572,0.00824,0.00893,-0.00357,0.00489,0

In [26]:
data.iloc

In [27]:
data.index

RangeIndex(start=0, stop=9651, step=1)

In [30]:
for candle_no in range (len(data.index.tolist())):
    data["Trend"] = find_candle_trend(candle_no)

In [33]:
data.head(50)

,Date,Time,f_time,julian_date,Weekday,Weekday_Name,UTC_Time,Volume,Open,High,...,H-L,H-C,L-C,Direction,col_1,col_2,col_3,col_4,col_5,Trend
0,2015-12-03,22:00:00,22,337,3,Thursday,2015-12-03T22:00:00.000000000Z,5587,1.09414,1.09566,...,0.00574,0.00466,-0.00108,0,0.00314,0.00466,0.00422,-0.00373,-0.00778,-25
1,2015-12-04,02:00:00,2,338,4,Friday,2015-12-04T02:00:00.000000000Z,3762,1.09104,1.09464,...,0.00418,0.00074,-0.00344,1,-0.00286,0.00074,0.00058,0.00314,-0.00373,-25
2,2015-12-04,06:00:00,6,338,4,Friday,2015-12-04T06:00:00.000000000Z,10055,1.09388,1.09452,...,0.00865,0.00553,-0.00312,0,0.00489,0.00553,0.00801,-0.00286,0.00314,-25
3,2015-12-04,10:00:00,10,338,4,Friday,2015-12-04T10:00:00.000000000Z,14955,1.08901,1.09507,...,0.00952,0.00249,-0.00703,1,-0.00357,0.00249,0.00346,0.00489,-0.00286,-25
4,2015-12-04,14:00:00,14,338,4,Friday,2015-12-04T14:00:00.000000000Z,18128,1.09256,1.09508,...,0.01145,0.00824,-0.00321,0,0.00572,0.00824,0.00893,-0.00357,0.00489,-25
5,2015-12-04,18:00:00,18,338,4,Friday,2015-12-04T18:00:00.000000000Z,5358,1.08680,1.08851,...,0.00339,0.00028,-0.00311,1,-0.00143,0.00028,0.00168,0.00572,-0.00357,-25
6,2015-12-06,22:00:00,22,340,6,Sunday,2015-12-06T22:00:00.000000000Z,3152,1.08748,1.08874,...,0.00242,0.00196,-0.00046,0,0.00070,0.00196,0.00116,-0.00143,0.00572,-25
7,2015-12-07,02:00:00,2,341,0,Monday,2015-12-07T02:00:00.000000000Z,1282,1.08674,1.08697,...,0.00154,0.00085,-0.00069,0,0.00062,0.00085,0.00131,0.00070,-0.00143,-25
8,2015-12-07,06:00:00,6,341,0,Monday,2015-12-07T06:00:00.000000000Z,5482,1.08614,1.08728,...,0.00614,0.00557,-0.00057,0,0.00443,0.00557,0.00500,0.00062,0.00070,-25
9,2015-12-07,10:00:00,10,341,0,Monday,2015-12-07T10:00:00.000000000Z,5023,1.08168,1.08261,...,0.00299,0.00087,-0.00212,1,-0.00006,0.00087,0.00206,0.00443,0.00062,-25
10,2015-12-07,14:00:00,14,341,0,Monday,2015-12-07T14:00:00.000000000Z,9068,1.08170,1.08600,...,0.00546,0.00088,-0.00458,1,-0.00342,0.00088,0.00116,-0.00006,0.00443,-25
11,2015-12-07,18:00:00,18,341,0,Monday,2015-12-07T18:00:00.000000000Z,3733,1.08516,1.08603,...,0.00281,0.00229,-0.00052,0,0.00142,0.00229,0.00194,-0.00342,-0.00006,-25
12,2015-12-07,22:00:00,22,341,0,Monday,2015-12-07T22:00:00.000000000Z,1616,1.08366,1.08484,...,0.00180,0.00016,-0.00164,1,-0.00102,0.00016,0.00062,0.00142,-0.00342,-25
13,2015-12-08,02:00:00,2,342,1,Tuesday,2015-12-08T02:00:00.000000000Z,1568,1.08468,1.08606,...,0.00173,0.00000,-0.00173,1,-0.00138,0.00000,0.00035,-0.00102,0.00142,-25
14,2015-12-08,06:00:00,6,342,1,Tuesday,2015-12-08T06:00:00.000000000Z,6176,1.08604,1.08822,...,0.00290,0.00286,-0.00004,0,0.00068,0.00286,0.00072,-0.00138,-0.00102,-25
15,2015-12-08,10:00:00,10,342,1,Tuesday,2015-12-08T10:00:00.000000000Z,7343,1.08538,1.08966,...,0.00557,0.00023,-0.00534,1,-0.00405,0.00023,0.00129,0.00068,-0.00138,-25
16,2015-12-08,14:00:00,14,342,1,Tuesday,2015-12-08T14:00:00.000000000Z,8204,1.08946,1.09005,...,0.00348,0.00111,-0.00237,0,0.00052,0.00111,0.00289,-0.00405,0.00068,-25
17,2015-12-08,18:00:00,18,342,1,Tuesday,2015-12-08T18:00:00.000000000Z,3669,1.08898,1.09025,...,0.00177,0.00104,-0.00073,1,-0.00023,0.00104,0.00050,0.00052,-0.00405,-25
18,2015-12-08,22:00:00,22,342,1,Tuesday,2015-12-08T22:00:00.000000000Z,1393,1.08918,1.08997,...,0.00203,0.00009,-0.00194,1,-0.00070,0.00009,0.00124,-0.00023,0.00052,-25
19,2015-12-09,02:00:00,2,343,2,Wednesday,2015-12-09T02:00:00.000000000Z,1709,1.08988,1.09210,...,0.00272,0.00134,-0.00138,1,-0.00088,0.00134,0.00050,-0.00070,-0.00023,-25
20,2015-12-09,06:00:00,6,343,2,Wednesday,2015-12-09T06:00:00.000000000Z,6692,1.09079,1.09375,...,0.00311,0.00065,-0.00246,1,-0.00231,0.00065,0.00015,-0.00088,-0.00070,-25
21,2015-12-09,10:00:00,10,343,2,Wednesday,2015-12-09T10:00:00.000000000Z,6608,1.09307,1.09760,...,0.00598,0.00045,-0.00553,1,-0.00408,0.00045,0.00145,-0.00231,-0.00088,-25
22,2015-12-09,14:00:00,14,343,2,Wednesday,2015-12-09T14:00:00.000000000Z,13223,1.09712,1.10047,...,0.00543,0.00021,-0.00522,1,-0.00314,0.00021,0.00208,-0.00408,-0.00231,-25
23,2015-12-09,18:00:00,18,343,2,Wednesday,2015-12-09T18:00:00.000000000Z,11644,1.10026,1.10431,...,0.00453,0.00179,-0.00274,1,-0.00226,0.00179,0.00048,-0.00314,-0.00408,-25
24,2015-12-09,22:00:00,22,343,2,Wednesday,2015-12-09T22:00:00.000000000Z,3050,1.10246,1.10246,...,0.00181,0.00176,-0.00005,0,0.00176,0.00176,0.00181,-0.00226,-0.00314,-25
25,2015-12-10,02:00:00,2,344,3,Thursday,2015-12-10T02:00:00.000000000Z,1104,1.10067,1.10144,...,0.00130,0.00130,0.00000,0,0.00053,0.00130,0.00053,0.00176,-0.00226,-25
26,2015-12-10,06:00:00,6,344,3,Thursday,2015-12-10T06:00:00.000000000Z,5212,1.10018,1.10028,...,0.00416,0.00346,-0.00070,0,0.00336,0.00346,0.00406,0.00053,0.00176,-25
27,2015-12-10,10:00:00,10,344,3,Thursday,2015-12-10T10:00:00.000000000Z,8492,1.09680,1.09725,...,0.00391,0.00013,-0.00378,1,-0.00032,0.00013,0.00346,0.00336,0.00053,-25
28,2015-12-10,14:00:00,14,344,3,Thursday,2015-12-10T14:00:00.000000000Z,10868,1.09708,1.09712,...,0.00459,0.00240,-0.00219,0,0.00236,0.00240,0.00455,-0.00032,0.00336,-25
29,2015-12-10,18:00:00,18,344,3,Thursday,2015-12-10T18:00:00.000000000Z,3356,1.09469,1.09566,...,0.00264,0.00157,-0.00107,0,0.00060,0.00157,0.00167,0.00236,-0.00032,-25
30,2015-12-10,22:00:00,22,344,3,Thursday,2015-12-10T22:00:00.000000000Z,1840,1.09407,1.09477,...,0.00211,0.00153,-0.00058,0,0.00083,0.00153,0.00141,0.00060,0.00236,-25
31,2015-12-11,02:00:00,2,345,4,Friday,2015-12-11T02:00:00.000000000Z,829,1.09327,1.09442,...,0.00166,0.00068,-0.00098,1,-0.00047,0.00068,0.00051,0.00083,0.00060,-25
32,2015-12-11,06:00:00,6,345,4,Friday,2015-12-11T06:00:00.000000000Z,5337,1.09370,1.09703,...,0.00351,0.00268,-0.00083,1,-0.00065,0.00268,0.00018,-0.00047,0.00083,-25
33,2015-12-11,10:00:00,10,345,4,Friday,2015-12-11T10:00:00.000000000Z,10131,1.09437,1.09781,...,0.00429,0.00253,-0.00176,1,-0.00091,0.00253,0.00085,-0.00065,-0.00047,-25
34,2015-12-11,14:00:00,14,345,4,Friday,2015-12-11T14:00:00.000000000Z,18196,1.09526,1.10310,...,0.00788,0.00368,-0.00420,1,-0.00416,0.00368,0.00004,-0.00091,-0.00065,-25
35,2015-12-11,18:00:00,18,345,4,Friday,2015-12-11T18:00:00.000000000Z,4403,1.09944,1.09993,...,0.00197,0.00080,-0.00117,0,0.00031,0.00080,0.00148,-0.00416,-0.00091,-25
36,2015-12-13,22:00:00,22,347,6,Sunday,2015-12-13T22:00:00.000000000Z,3889,1.09855,1.09934,...,0.00258,0.00229,-0.00029,0,0.00150,0.00229,0.00179,0.00031,-0.00416,-25
37,2015-12-14,02:00:00,2,348,0,Monday,2015-12-14T02:00:00.000000000Z,2225,1.09702,1.09746,...,0.00202,0.00100,-0.00102,0,0.00056,0.00100,0.00158,0.00150,0.00031,-25
38,2015-12-14,06:00:00,6,348,0,Monday,2015-12-14T06:00:00.000000000Z,5992,1.09643,1.09718,...,0.00262,0.00135,-0.00127,0,0.00060,0.00135,0.00187,0.00056,0.00150,-25
39,2015-12-14,10:00:00,10,348,0,Monday,2015-12-14T10:00:00.000000000Z,8691,1.09584,1.09910,...,0.00408,0.00046,-0.00362,1,-0.00280,0.00046,0.00082,0.00060,0.00056,-25
40,2015-12-14,14:00:00,14,348,0,Monday,2015-12-14T14:00:00.000000000Z,14651,1.09862,1.10488,...,0.00714,0.00338,-0.00376,1,-0.00288,0.00338,0.00088,-0.00280,0.00060,-25
41,2015-12-14,18:00:00,18,348,0,Monday,2015-12-14T18:00:00.000000000Z,4982,1.10154,1.10243,...,0.00397,0.00313,-0.00084,0,0.00224,0.00313,0.00308,-0.00288,-0.00280,-25
42,2015-12-14,22:00:00,22,348,0,Monday,2015-12-14T22:00:00.000000000Z,4305,1.09936,1.10137,...,0.00243,0.00021,-0.00222,1,-0.00180,0.00021,0.00042,0.00224,-0.00288,-25
43,2015-12-15,02:00:00,2,349,1,Tuesday,2015-12-15T02:00:00.000000000Z,1783,1.10118,1.10302,...,0.00287,0.00026,-0.00261,1,-0.00158,0.00026,0.00103,-0.00180,0.00224,-25
44,2015-12-15,06:00:00,6,349,1,Tuesday,2015-12-15T06:00:00.000000000Z,7132,1.10276,1.10598,...,0.00490,0.00332,-0.00158,0,0.00010,0.00332,0.00168,-0.00158,-0.00180,-25
45,2015-12-15,10:00:00,10,349,1,Tuesday,2015-12-15T10:00:00.000000000Z,8983,1.10264,1.10386,...,0.00680,0.00675,-0.00005,0,0.00553,0.00675,0.00558,0.00010,-0.00158,-25
46,2015-12-15,14:00:00,14,349,1,Tuesday,2015-12-15T14:00:00.000000000Z,10399,1.09714,1.09747,...,0.00701,0.00507,-0.00194,0,0.00474,0.00507,0.00668,0.00553,0.00010,-25
47,2015-12-15,18:00:00,18,349,1,Tuesday,2015-12-15T18:00:00.000000000Z,4214,1.09238,1.09341,...,0.00249,0.00032,-0.00217,1,-0.00071,0.00032,0.00146,0.00474,0.00553,-25
48,2015-12-15,22:00:00,22,349,1,Tuesday,2015-12-15T22:00:00.000000000Z,2063,1.09295,1.09462,...,0.00232,0.00038,-0.00194,1,-0.00129,0.00038,0.00065,-0.00071,0.00474,-25
49,2015-12-16,02:00:00,2,350,2,Wednesday,2015-12-16T02:00:00.000000000Z,1903,1.09428,1.09488,...,0.00170,0.00054,-0.00116,1,-0.00006,0.00054,0.00110,-0.00129,-0.00071,-25

In [ ]:
#vols = data.index[data['Volume']>5500].tolist()
vols = data.index.tolist()
len (vols)

In [ ]:
vols = vols [9641:]

In [ ]:
len(vols)

In [ ]:
vols